scripts/*
!scripts/dockerfile
!scripts/run.sh
!scripts/movie_num_per_genre.xlsx

target
!../.mvn/wrapper/maven-wrapper.jar
.DS_Store

out.json

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!../.mvn/wrapper/wrapper.iml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/