html{
    height: 100%;
    overflow: scroll;
}

.header{
    /*padding: 100px;*/
    height: 62%;
    width:100%;
    display: block;
    margin:0;
    position:relative;

    padding-left:15px;
    padding-right:15px;
    text-align:center;
    align-content:center;
    z-index:3;
}

.p1, .p2, .p3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.p1 {
    display:block;
    font-weight: bold;
    font-size:26px;
    position:absolute;
    padding:50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.p2 {
    font-weight: bold;
    font-size:20px;
    margin:5px;
    position:relative;
}

.p3 {
    color:lightgrey;
    font-size: 16px;
    margin: 0 0 20px 0;
    position:relative;
}

.p4 {
display:block;
    color:lightgrey;
    font-size: 16px;
    position:absolute;
    padding : 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.text-left, .text-center, .text-right, .label {
    color : white;
}

.text-right {
    font-weight: bold;
}

.text-center {
    word-wrap: break-word;
    font-size: 15px;
}
.text-center-2 {
    word-wrap: break-word;
    font-size: 13px;
    color:lightgrey;
    font-weight: normal;
}


.center {
    display: block;
    position:absolute;
    margin:0;
    left: 50%;
    transform: translate(-50%, 0);
}

.loaderimg {
    display: block;
    position:relative;
    margin:0;
    left: 50%;
    transform: translate(-50%, 0);
}

.btn-group {
    display:block;
    margin:0;
    position:relative;
  }

input, select{
    width:15em;
    height:2em;
    box-sizing:border-box;
    border-radius: 8px;
    padding: 3px 10px;
}

#movie{
    margin-top: 35px;
    margin-left: 100px;
    color: white;
}

#lower{
    width:1800px;
    height:5400px;
    left:0px;
    right :0px;
    position:absolute;
    color:white;
    background-color:#131313;
        text-align:center;
        align-content:center;
}

.ui-widget{
    background-color: #FFFFFF;
    width : 15em;
    display:contents;
}

.btn-primary {
    width:200px;
    margin:20px;
    color: #FFFFFF !important;
    background-color: #298484 !important;
    border-color: #67c2c2 !important;
}

.btn-primary:hover {
    color: #FFFFFF !important;
    background-color: #52bebe !important;
    border-color: #93dbdb !important;
    font-weight: bold;
}

.btn-primary:focus {
    color: #FFFFFF !important;
    background-color: #52bebe !important;
    border-color: #93dbdb !important;
    font-weight: bold;
}

.btn-info {
    color: #FFFFFF !important;
    background-color: #298484 !important;
    border-color: #67c2c2 !important;
}

.btn-info:hover {
    color: #FFFFFF !important;
    background-color: #52bebe !important;
    border-color: #93dbdb !important;
    font-weight: bold;
}

.btn-info:focus {
    color: #FFFFFF !important;
    background-color: #52bebe !important;
    border-color: #93dbdb !important;
    font-weight: bold;
}

table.inputfieldtable {
    width: 90%;
    margin: auto;
}

table.inputfieldtable td, table.inputfieldtable th {
    padding: 8px 10px;
}


table.recoTable {
  width: 80%;
  text-align: center;
  border-collapse: collapse;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed
}
table.recoTable td, table.recoTable th {
  padding: 5px 10px;
  margin: 10px;
}
table.recoTable tbody td {
  font-size: 13px;
  font-weight: bold;
}

.checkbox-menu li label {
    display: inline-block;
    padding: 3px 10px;
    clear: both;
    font-size:12px;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
    width : auto;
}

.checkbox-menu li.active label {
    font-weight:bold;
}

.dropdown-menu {
    width:30em;
    height:auto;
}

button#dropdownMenu1 {
    width: 15em;
    height:auto;
    text-align: left;
    white-space: normal;
    overflow-wrap: break-word;
    border-radius: 8px;
}

ul.dropdown-menu.checkbox-menu.allow-focus {
    columns: 4;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  font-size : 14px;
  min-width: 400px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

strong {
    color: white !important;
}